/* navigation styles */
.nav-bar{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 18px;
}
ul li a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.headerlogo{
    font-size: 24px;
    color: #f9faf8;
}


/* End of navigation styles*/

/* hero section styles */

.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

.hero-left h1{
    font-size: 48px; 
    font-weight:  extra-bold;
    color: #f9faf8;
}

.hero-left p{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-right{
    height: 100px;
    width: 350px;
}