

/* navigation styles */
.nav-bar{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 18px;
}
ul li a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.headerlogo{
    font-size: 24px;
    color: #f9faf8;
}


/* End of navigation styles*/

/* hero section styles */

.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    gap: 24px;
    margin: 0;
    padding: 75px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-left h1{
    font-size: 48px; 
    font-weight:  extra-bold;
    color: #f9faf8;
}

button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left p{
    font-size: 18px;
    color: #E5E7EB;
}

/* Information section styles */

.information-section{
    text-align: center;
}

.info-cards{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 200px;
}